{% extends 'base.html' %}
{% block title %}Request Password{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h2>Request Password Reset</h2>
            {% for m in messages %}
            <mark><hi>{{m}}</hi></mark>
            {% endfor %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="uemail" aria-describedby="emailHelp" required>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}