{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <h2>Request Password for {{uemail}}</h2>
        {% for m in messages %}
        <mark><hi>{{m}}</hi></mark>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="upass" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputConfirmPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputConfirmPassword1" name="ucpass" required>
            </div>
            <button type="submit">Submit</button>
            <button><a href="{% url 'singin' %}">Cancel</a></button>
        </form>
    </div>
</div>
{% endblock %}