{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Home{% endblock %}
</head>
<body>
    {% comment %}
    {% include 'header.html' %}
    {% endcomment %}
    {% block body %}
    <center>
        <h1>Welcome to django</h1>
        {% comment %}
        <h5>You login at <i>{{curdate}}</i></h5>
        
                Good Morning  {{myname}}
                
        {% endcomment %}
        <h3>
            <mark>                                
                <!-- DTL if else -->
                 {% if hour >= 1 and hour < 12 %}
                 Good Morning  {{myname}} {{lastname}}                 
                 {% elif hour >= 12 and hour < 16 %}
                 Good Afternoon  {{myname}} {{lastname}}
                 {% elif  hour >= 16 and hour < 19 %}
                 Good Evening  {{myname}}
                 {% elif  hour >= 19 and hour < 24 %}
                 Good Night  {{myname}} {{lastname}}
                 {% endif  %}
                 {% with lastname="Meghnani" %}
                    {{lastname}}
                 {% endwith %}                
            </mark>
        </h3>
        <hr>
        <!-- showing Book data -->
         <h1>Books Details</h1>
         <table border="1px" cellspacing="4px" cellpadding="8px">
            <thead>
                <th>Sr.no</th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Price</th>
                <th>QTY</th>
                <th>DOP</th>
                <th>Dscription</th>
                <th>Photo</th>
            </thead>
            <tbody>
                {% for x in allbooks %}
                <tr>
                <td>{{forloop.counter}}</td>
                <td>{{x.isbn}}</td>
                <td>{{x.title}}</td>
                <td>{{x.author}}</td>
                <td>{{x.category}}</td>
                <td>{{x.price}}</td>
                <td>{{x.qty}}</td>
                <td>{{x.dop}}</td>
                <td>{{x.description}}</td>
                <td>
                    <img src="{{x.photo.url}}" alt="{{x.title}}" width="100px" height="100px">
                </td>
                </tr>
                {% endfor %}                
            </tbody>
         </table>  
    </center>
    {% endblock %}
    {% comment %}
    {% include 'footer.html' %}
    {% endcomment %}    
</body>
</html>