{% extends 'base.html' %}
{% block title %}SingIN{% endblock %} 
{% block body %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="row">
        <h1 class="text-center">SingIN</h1>
        {% if errmsg %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>error!</strong> {{errmsg}}.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <!-- <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="uemail" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div> -->
            <div class="mb-3">
              <label for="exampleInputusername1" class="form-label">User Name</label>
              <input type="text" class="form-control" id="exampleInputusername1" name="uname" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" req>Password</label>
              <input type="password" class="form-control"  name="upass" id="exampleInputPassword1" required>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}